body {
    background-color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerGrid {
    display: grid;
    width: 90vw;
    height: 90vh; 
    border: 5px solid red;
    gap: 1px;
}

.col-grid {
    border: 1px solid #ccc;
    box-sizing: border-box;
}